<?xml version="1.0" encoding="UTF-8"?>

<widget 
xmlns     	= "http://www.w3.org/ns/widgets"
xmlns:gap 	= "http://phonegap.com/ns/1.0"
id        	= "com.mfk.quicklinks"
android-packageName="com.mfk.quicklinks"
ios-CFBundleIdentifier="com.mfk.quicklinks"
versionCode	= "1" 
version   	= "0.170530"
>

<name>Quicklinks</name>
<description>https://github.com/manfuku/quicklinks</description>

<gap:platform name="android" />
<!-- <gap:platform name="ios" /> -->

<preference name="permissions"					value="none"/>

<!-- IOS PREFS -->
<preference name="fullscreen"                 	value="false" />          <!-- all: hides the status bar at the top of the screen -->
<preference name="ios-statusbarstyle"         	value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
<preference name="prerendered-icon"           	value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
<preference name="stay-in-webview"            	value="false" />          <!-- ios: if true open within app -->
<preference name="exit-on-suspend"            	value="false" />          <!-- ios: terminate if home is pressed -->
<preference name="show-splash-screen-spinner" 	value="true" />           <!-- ios: splash spinner visibility -->
<preference name="auto-hide-splash-screen"    	value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->

<!-- IOS INLINE PLAYBACK
<preference name="AllowInlineMediaPlayback" 	value="true" /> -->

<!-- KEYBOARD FIX ANYARE!?
<preference name="android-windowSoftInputMode" 	value="adjustResize" /> -->

<!-- ICONS -->
<icon src="res/icon.png" gap:role="default" />

		<!-- ANDOROID -->
		<icon src="res/icon.png"	gap:platform="android" />
		
		<!-- IOS REQUIRED ICONS -->
		<icon src="icon-57.png" 	gap:platform="ios" width="57" height="57" />
		<icon src="icon-72.png" 	gap:platform="ios" width="72" height="72" />
		<icon src="icon-76.png" 	gap:platform="ios" width="76" height="76" />
		<icon src="icon-120.png" 	gap:platform="ios" width="120" height="120" />
		<icon src="icon-152.png" 	gap:platform="ios" width="152" height="152" /> 

<!-- SPLASH OK!!!
<gap:splash src="res/screen/default.png" />
<gap:splash src="res/screen/default.png" gap:platform="ios" width="640" height="1136" />

		<preference name="SplashMaintainAspectRatio" value="true" /> -->
		
<!-- PLUGINS
<gap:plugin name="cordova-plugin-splashscreen" source="npm" />
<gap:plugin name="cordova-plugin-x-socialsharing" source="npm" /> -->
<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />

		<!-- ALLOW IFRAMES -->
		<gap:plugin name="cordova-plugin-whitelist" source="npm" />
		<allow-navigation href="*" />

		<!-- ONESIGNAL
		<gap:plugin name="onesignal-cordova-plugin-pgb-compat" source="npm" />
		<gap:plugin name="cordova-plugin-googleplayservices" source="npm" />
		<gap:plugin name="cordova-plugin-android-support-v4" source="npm" /> -->

</widget>